<!DOCTYPE html>
<html>
    <head>
        <title link rel="shortcut icon" href="/hang/templates/hang/favicon.ico" type="image/x-icon" />
        Hangman Game
        </title>    
    </head>
    <body style= "margin: 0px;" bgcolor="#DDDDDD">
    
    
    <center>
        <p><font face="verdana" size = "6"> {{title}} </font></p>
        <a href = "/hang/other" target = "_blank">
            <button>
                Click me
            </button>
        </a>
        <a href = "/hang/other" target = "_blank"><img src="https://static.pexels.com/photos/115045/pexels-photo-115045.jpeg" height = "250" width = "573"></a>
    </center>
    <p><font face="verdana" size = "5">Words:</font></p>
    <ul>
        <li>packets</li>
        <li>packers</li>
        <li>packing</li>
        <li>earings</li>
        <li>earplug</li>
        
    </ul>
    </body>
</html>